.flip {
  position: relative;
  -webkit-perspective: 800;
  perspective: 800px;

  &.flipped .card {
    -webkit-transform: rotatex(-180deg);
    transform: rotatex(-180deg);
  }

  &.flipped[horizontal] .card {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
  }

  .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    .face {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      z-index: 2;
    }

    .front {
      position: absolute;
      z-index: 1;
    }

    .back {
      -webkit-transform: rotatex(-180deg);
      transform: rotatex(-180deg);
    }
  }

  &[horizontal] .card .back {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);

  }
}
